<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.maxrn.aerospace</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/maxrn/code/AeroSpace/.build/debug/AeroSpaceApp</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/aerospace.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/aerospace.stderr</string>
    <key>WorkingDirectory</key>
    <string>/Users/maxrn/code/AeroSpace</string>
</dict>
</plist>
