{
  :devices {
            :masterkeys [{:vendor_id 9494 :product_id 60}]
            :nikos_uRAGE [{:vendor_id 1241 :product_id 5637}]
           }
 :main
 [
  {:des "fn to Ctrl" :rules [[:fn :left_control]]}
  {:des "Caps Lock to Esc if alone, else Ctrl" :rules [[:##caps_lock :left_control nil {:alone :escape}]]}

  ; For windows keyboards
  {:des "Don't ask (makes (`~) work)" :rules [[:grave_accent_and_tilde :non_us_backslash :masterkeys]]}
  {:des "Left Cmd to Left Opt" :rules [[:left_command :left_option :masterkeys]]}
  {:des "Left Opt to Left Cmd" :rules [[:left_option :right_command :masterkeys]]}

  {:des "Don't ask (makes (`~) work)" :rules [[:grave_accent_and_tilde :non_us_backslash :nikos_uRAGE]]}
  {:des "Left Cmd to Left Opt" :rules [[:left_command :left_option :nikos_uRAGE]]}
  {:des "Left Opt to Left Cmd" :rules [[:left_option :left_command :nikos_uRAGE]]}
 ]
}
