{
  :devices {
            :masterkeys [{:vendor_id 9494 :product_id 60}]
            :superlight [{:vendor_id 1133 :product_id 50509}]
            :tmkb [{:vendor_id 6700 :product_id 39941}]
           }
 :main
 [
  {:des "fn to Ctrl" :rules [[:fn :left_control]]}
  {:des "Caps Lock to Esc if alone, else Ctrl" :rules [[:##caps_lock :left_control nil {:alone :escape}]]}

  ;; New layout: [{(fghj)}]

  {:des "Alt Gr layer" :rules [[:!Qa :open_bracket]]} ; [
  {:des "Alt Gr layer" :rules [[:!Qs :!Sopen_bracket]]} ; {
  {:des "Alt Gr layer" :rules [[:!Qd :!S9]]} ; (
 ;; f
 ;; g
 ;; h
 ;; j
  {:des "Alt Gr layer" :rules [[:!Qk :!S0]]} ; )
  {:des "Alt Gr layer" :rules [[:!Ql :!Sclose_bracket]]} ; }
  {:des "Alt Gr layer" :rules [[:!Qsemicolon :close_bracket]]} ; ]
      ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; P  | caps_lock
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any

  ; Make side buttons behave normally
  {:des "Backwards" :rules [[{:pkey :button4} :!Copen_bracket ]]}
  {:des "Forwards" :rules [[{:pkey :button5} :!Cclose_bracket ]]}

  ; For windows keyboards
  {:des "Don't ask (makes (`~) work)" :rules [[:grave_accent_and_tilde :non_us_backslash :masterkeys]]}
  ; Needs to be left_option for rcmd to work
  {:des "Left Cmd to Left Opt" :rules [[:##left_command :left_option :masterkeys]]}
  {:des "Left Opt to Left Cmd" :rules [[:##left_option :left_command :masterkeys]]}
  {:des "Right Cmd to Right Opt" :rules [[:##right_command :right_option :masterkeys]]}
  {:des "Right Opt to Right Cmd" :rules [[:##right_option :right_command :masterkeys]]}

  ; For windows keyboards
  {:des "Don't ask (makes (`~) work)" :rules [[:grave_accent_and_tilde :non_us_backslash :tmkb]]}
  ; Needs to be left_option for rcmd to work
  {:des "Left Cmd to Left Opt" :rules [[:##left_command :left_option :tmkb]]}
  {:des "Left Opt to Left Cmd" :rules [[:##left_option :left_command :tmkb]]}
  {:des "Right Cmd to Right Opt" :rules [[:##right_command :right_option :tmkb]]}
  {:des "Right Opt to Right Cmd" :rules [[:##right_option :right_command :tmkb]]}

 ]
}
